@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato&display=swap');

:root {
  --side-padding: 10vw;

  --font-base: 'Lato', Arial, Helvetica sans-serif;
  --font-display: 'Julius Sans One', Arial, Helvetica sans-serif;

  --clr-light: #fff;
  --clr-mid: #f0d7d7;
  --clr-lightgrey: #555;
  --clr-grey: #333;
  --clr-dark: #501414;
  --clr-highlight: #ff6347;
}

/* BASIC STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url('./assets/bg-decor/decor-tl.svg'), url('./assets/bg-decor/decor-bl.svg'), url('./assets/bg-decor/decor-br.svg');
  background-position: top left, bottom left, bottom right;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 15vh, 40vh, 50vh;
  font-family: var(--font-base);
  color: var(--clr-grey);
}

button,
input {
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

/* LAYOUT STYLES */

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  min-height: 100vh;
}

main {
  flex: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
  padding: 0 var(--side-padding);
  text-align: center;
}

.question-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.question-layout label {
  display: block;
  width: 100%;
  max-width: 500px;
}
.question-layout input {
  margin-top: 1rem;
}

.answer-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answer-layout h2 {
  margin-bottom: 0.5rem;
}
.answer-layout p {
  margin-bottom: 2.5rem;
}

/* TEXT STYLES */

.text--big {
  font-family: var(--font-display);
  font-size: 1.2rem;
}
.text--answer {
  font-family: var(--font-display);
  font-size: 2.5rem;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem var(--side-padding);
  background-color: var(--clr-mid);
  font-family: var(--font-display);
  font-size: 1.2rem;
  color: var(--clr-dark);
}
/* Add a div.header__decor before the .header closing tag */
.header__decor {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--clr-dark);
  font-family: var(--font-display);
}
.header__decor::before {
  content: '';
  position: absolute;
  top: 0;
  left: -4rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--clr-dark);
  transform: translateY(0.5rem);
}
.header__decor::after {
  content: '';
  position: absolute;
  top: 0;
  left: -7rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--clr-dark);
  transform: translateY(1rem);
}

/* MAGIC 8 BALL */
/*
<div id="ball" className="ball--start/ball--happy/ball--sad/ball-neutral">
  <span className="ball__number">8</span>
</div>
*/

#ball {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  border: 3.8rem solid var(--clr-dark);
  border-radius: 50%;
  background-color: var(--clr-light);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font-display);

  font-size: 9rem;
  color: var(--clr-dark);
}
#ball::before {
  content: '';
  position: absolute;
  top: -10%;
  left: 0.8rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: var(--clr-light);
}
#ball::after {
  content: '';
  position: absolute;
  top: 5%;
  left: -2.2rem;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: var(--clr-light);
}
.ball__number {
  display: none;
}
.ball--start .ball__number {
  display: block;
}
.ball--happy {
  background-image: url('./assets/faces/happy.svg');
}
.ball--sad {
  background-image: url('./assets/faces/sad.svg');
}
.ball--neutral {
  background-image: url('./assets/faces/neutral.svg');
}

/* BUTTON */

.button {
  display: block;
  padding: 0.6rem 3rem;
  border: 1px solid var(--clr-dark);
  border-radius: 30px;
  background-color: var(--clr-dark);
  font-family: var(--font-display);
  font-size: 1.2rem;
  color: var(--clr-light);
  text-transform: capitalize;
  transition: all 0.2s ease-out;
}
.button:hover {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}
.button:active {
  transform: scale(0.95);
}
.button:focus {
  outline: none;
  border: 1px solid var(--clr-highlight);
}

/* INPUT */

.input {
  display: block;
  width: 100%;
  padding: 0.6rem 1.5rem;
  border: 2px solid var(--clr-dark);
  border-radius: 20px;
  font-family: var(--font-base);
  color: var(--clr-grey);
  transition: all 0.2s ease-out;
}
.input:focus {
  border-color: var(--clr-highlight);
  outline: none;
}

/* FOOTER */

.footer {
  padding-bottom: 1.5rem;
  font-family: var(--font-display);
  text-align: center;
}
