@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
  --base-font: 'Julius Sans One', sans-serif;

  --clr-light: #fff;
  --clr-mid: #f0d7d7;
  --clr-grey: #333;
  --clr-dark: #501414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url('./assets/bg-decor/decor-tl.svg'), url('./assets/bg-decor/decor-bl.svg'), url('./assets/bg-decor/decor-br.svg');
  background-position: top left, bottom left, bottom right;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 15vh, 40vh, 50vh;
  font-family: var(--base-font);
  color: var(--clr-grey);
}

button,
input {
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}
